<html>
  <head>
    <title>Chaplin.js</title>
    <style>
      * {box-sizing: border-box;}
      .user {
        display: inline-block;
        padding: 2px;
        font-family: "Helvetica Neue", Helvetica, Arial, serif;
        text-align: center;
      }
      .user-details {width: 125px;}
      .cell {width: 125px; height: 160px; display: inline-block;}
      a, a:visited {color: #FF69B4;}
      .user-avatar {width: 100px;}
      .user-preview {width: 70px;}
      .user-preview > .user-avatar {width: 60px;}
    </style>
    <script src="vendor.js"></script>
    <script src="app.js"></script>
  </head>
  <body></body>
</html>
